#Data Science Tools and Ecosystem

In [17]:
#learning about data science tools

In [16]:
**Objectives:**
* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* A simple arithmetic expression
* Create a code cell to convert minutes to hours

SyntaxError: invalid syntax (408639533.py, line 1)

In [ ]:
#Some of the popular languages that Data Scientists use are:

In [ ]:
1. Paython
2. R
3. SQL
4. Java

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1. dplyr
2. ggplot
3. caret4- stringr

| Data Science Tools |
| ------------- |
| Jupyter |
| R |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
##Author
Allyson